*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
}

/*------SIDEBAR------*/
.sidebar{
    background-color: black;
    width: 20vw;
    height: 100vh;
    color: gray;
    padding-left: 2%;
    line-height: 190%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#xs-sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: -1;
    justify-content: space-between;
    position: absolute;
}

#up-xs{
    line-height: 250%;
}

#bottom-xs{
    line-height: 250%;
}

.sidebar #logo{
    width: 60%;
    padding-block: 5%;
}

.sidebar img{
    width: 10%;
    vertical-align: middle;
}

.sidebar p{
    font-size: 80%;
}

.sidebar h5{
    margin-top: 4%;
}

.sidebar ul{
    list-style-type: none;
}

#add-button{
    padding-inline: 4%;
    font-size: 250%;
    border: none;
    vertical-align: middle;
    margin-bottom: 5%;
    margin-right: 4%;
}

.sidebar li{
    font-size: 80%;
}

.sidebar hr{
    margin-block: 3%;
}

#profilo{
    background-color: gray;
    border-radius: 50%;
}

.sidebar p:hover{
    color: white;
}

.sidebar li:hover{
    color: white;
}

.sidebar span:hover{
    color: white;
}
/*------FINE SIDEBAR------*/

/*------BOTTONE UPGRADE------*/
#upgrade{
    width: 80vw;
    height: 8vh;
    background-color: #080B12;
}

#upgrade p{
    display: flex;
    justify-content: flex-end;
}

#upgrade-button{
    padding-inline: 7%;
    padding-block: 1%;
    border: 1px solid white;
    background-color: #080B12;
    color: white;
    border-radius: 20px;
    margin-top: 17px;
}
/*------FINE BOTTONE UPGRADE------*/

/*------RESPONSIVE ZONE MD------*/
@media screen and (max-width : 878px) {
   .sidebar{
        width: 30%;
   } 
}
/*------FINE RESPONSIVE ZONE MD------*/


/*------RESPONSIVE ZONE S------*/
@media screen and (max-width : 639px) {
    .sidebar{
        width: 40%;
   } 
}
/*------FINE RESPONSIVE ZONE S------*/


/*------RESPONSIVE ZONE XS------*/
@media screen and (max-width : 552px) {
    .sidebar{
        width: 10vw;
    }
    
    .sidebar .up-down{
        z-index: -1;
    }
    #xs-sidebar{
        z-index: 1;
    }

    #upgrade{
        width: 90vw;
    }
}
/*------FINE RESPONSIVE ZONE XS------*/