*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    width: 100vw;
}

/*------SIDEBAR------*/
.sidebar{
    background-color: black;
    width: 15vw;
    height: 90vh;
    color: gray;
    padding-left: 2%;
    line-height: 190%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#xs-sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: -1;
    justify-content: space-between;
    position: absolute;
}

#up-xs{
    line-height: 250%;
}

#bottom-xs{
    line-height: 250%;
    margin-bottom: 10vh;
}

.sidebar #logo{
    width: 60%;
    padding-block: 5%;
}

.sidebar img{
    width: 10%;
    vertical-align: middle;
}

.sidebar p{
    font-size: 80%;
}

.sidebar h5{
    margin-top: 4%;
}

.sidebar ul{
    list-style-type: none;
}

#add-button{
    padding-inline: 4%;
    font-size: 250%;
    border: none;
    vertical-align: middle;
    margin-bottom: 5%;
    margin-right: 4%;
}

.sidebar li{
    font-size: 80%;
}

.sidebar hr{
    margin-block: 3%;
    width: 80%;
}

#profilo{
    background-color: gray;
    border-radius: 50%;
}

.sidebar p:hover{
    color: white;
}

.sidebar li:hover{
    color: white;
}

.sidebar span:hover{
    color: white;
}
/*------FINE SIDEBAR------*/

main{
    background-color: #141922;
    overflow: scroll;
}

/*------BOTTONE UPGRADE------*/
#upgrade{
    width: 100%;
    height: 8vh;
    background-color: #080B12;
}

#upgrade p{
    display: flex;
    justify-content: flex-end;
}

#upgrade-button{
    padding-inline: 7%;
    padding-block: 1%;
    border: 1px solid white;
    background-color: #080B12;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}

#upgrade-button:hover{
    padding-block: 1.2%;
    padding-inline: 9%;
}
/*------FINE BOTTONE UPGRADE------*/


/*------SEZIONE DISCHI------*/

/*------NAV------*/
#sezione-dischi{
    height: 6vh;
}

#sezione-dischi nav ul{
    list-style-type: none;
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 3%;
    justify-content: center;
    font-size: 85%;
    color: gray;
    padding-top: 1%;
    line-height: 300%;
}

#sezione-dischi nav ul li:hover{
    color: white;
}
/*------FINE NAV------*/

/*------RECENTLY PLAYED------*/
.container-main{
    width: 97%;
    margin: 0 auto;
    height: 76vh;
}

.container-main h1{
    color: white;
    padding-block: 3%;
}

.container-main h4{
    color: white;
    padding-block: 5%;
    text-align: center;
}

.container-main p{
    color: gray;
    text-align: center;
    font-size: 70%;
    padding-bottom: 10%;
}

.container-main img{
    width: 100%;
}

.flex-singles{
    width: calc(100% / 6 - 1%);
}

.flex-albums{
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}
/*------FINE RECENTLY PLAYED------*/


/*------RESPONSIVE ZONE MD------*/
@media screen and (max-width : 878px) {
   .sidebar{
        width: 50%;
   } 

   #sezione-dischi nav ul{
    width: calc(100% / 5 -3%);
    flex-wrap: wrap;
   }

   #upgrade-button{
    padding-block: 2%;
   }

   .flex-singles{
    width: calc(100% / 4 - 1%);
   }
}
/*------FINE RESPONSIVE ZONE MD------*/


/*------RESPONSIVE ZONE S------*/
@media screen and ( max-width : 639px) {
    .sidebar{
        width: 100%;
   } 

   .flex-singles{
    width: calc(100% / 2 - 1%);
   }

   #upgrade-button{
    margin-top: 3.3%;
   }
}

/*------FINE RESPONSIVE ZONE S------*/


/*------RESPONSIVE ZONE XS------*/
@media screen and (max-width : 552px) {
    .sidebar{
        width: 6vh;
    }
    
    .sidebar .up-down{
        z-index: -1;
    }
    #xs-sidebar{
        z-index: 1;
    }

    #upgrade{
        width: 90vw;
    }

    #sezione-dischi{
        width: 100%;
    }
}
/*------FINE RESPONSIVE ZONE XS------*/